<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Multi-Intent Student Learning Assistant</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>Edulntent AI</h1>

        <p class="subtitle">
            Enter your academic question and identify
            all the types of help you need.
        </p>


        <textarea
            id="question"
            placeholder="Example: Explain TCP, compare it with UDP and give an example">
        </textarea>


        <button onclick="classifyQuestion()">
            Analyze Question
        </button>


        <div id="result" class="result">

            <p>
                Your result will appear here.
            </p>

        </div>

    </div>


    <script src="{{ url_for('static', filename='script.js') }}">
    </script>

</body>

</html>